Repository ONSdigital/ssdc-rm-ddl, pull requests merged in 2022-10, with the labels that each got.

#106 460 Fix export file row length limitation
  .github/PULL_REQUEST_TEMPLATE.md
  dev-common-postgres-image/init.sql
  groundzero_ddl/casev3.sql
  groundzero_ddl/ddl_version.sql
  patch_database.py
  patches/1000_increase_length_of_export_file_row.sql
  ssdc-rm-common-entity-model/pom.xml
  ssdc-rm-common-entity-model/src/main/java/uk/gov/ons/ssdc/common/model/entity/ExportFileRow.java
Labels: bug, patch, schema change

#109 451 Remove patch files and reset DDL versions
  .dockerignore
  dev-common-postgres-image/init.sql
  groundzero_ddl/ddl_version.sql
  patch_database.py
  patches/0_patch_example.sql.example
  patches/1000_increase_length_of_export_file_row.sql
  patches/100_add_jobType_column_toJob.sql
  patches/200_add_description_to_fulfilment_templates.sql
  patches/300_add_email.sql
  patches/400_allow_long_job_row_errors.sql
  patches/500_collection_instrument_and_uac_hash.sql
  patches/700_add_personalisation_to_fulfilment_to_process.sql
  patches/800_add_message_id_to_fulfilment_to_process.sql
  patches/900_add_roles_and_permissions.sql
Labels: patch

#110 452 Add rollback script and tests
  .coverage
  .coveragerc
  .dockerignore
  .gitignore
  Makefile
  README.md
  patch_database.py
  patches/rollback/0_patch_example.sql.example
  rollback_database.py
  test/patches/rollbacks/1_test.sql
  test/patches/rollbacks/2_test.sql
  test/test_rollback_database.py
  test_rollback_scripts.py
Labels: feature
