Repository ONSdigital/ssdc-rm-ddl, pull requests merged in 2023-03, with the labels that each got.

#122 776 Bump dependencies
  pom.xml
Labels: patch

#123 840 Update supplier names on export file templates
  dev-common-postgres-image/init.sql
  groundzero_ddl/ddl_version.sql
  groundzero_ddl/packcode_templates/export_file_templates.sql
  patch_database.py
  patches/700_update_export_file_suppliers.sql
  patches/rollback/700_update_export_file_suppliers.sql
  pom.xml
Labels: patch, schema change

#124 601 Remove PHM pack codes and insert CRIS pack codes
  dev-common-postgres-image/init.sql
  groundzero_ddl/ddl_version.sql
  groundzero_ddl/packcode_templates/email_templates.sql
  groundzero_ddl/packcode_templates/export_file_templates.sql
  patch_database.py
  patches/800_insert_cris_templates.sql
  patches/rollback/800_insert_cris_templates.sql
Labels: patch

#126 601 Remove erroneous semicolon in patch to insert CRIS templates
  patches/800_insert_cris_templates.sql
Labels: patch

#127 852 Add guidance on patch scripts to README
  README.md
Labels: documentation, patch

#129 866 Add permission to ground zero and patch
  dev-common-postgres-image/init.sql
  groundzero_ddl/ddl_version.sql
  patch_database.py
  patches/900_support_actions_allow_email_fulfilments_permission.sql
  patches/rollback/900_support_actions_allow_email_fulfilments_permission.sql
  ui-permissions/RM-support-permissions.sql
Labels: patch, schema change
